@font-face {
  font-family: 'PlayfairDisplay';
  src: url(Fontes/PlayfairDisplay-Bold.ttf);
}

@font-face {
  font-family: 'AvenirLight';
  src: url(Fontes/AvenirLight.ttf);
}

body {
  min-height: 100vh;
  background-color: #121111;
  margin: 0;
}

header {
  padding: 1px 250px;
}

img {
  max-width: 100%;
  height: auto;

}

h1 {
  font-size: 30px;
  color: white;
}

h2 {
  font-size: 30px;

}

p {
  font-family: 'AvenirLight';
  color: white;
}

ol {
  list-style: none;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  color: rgb(255, 255, 255);
}

a:hover {
  color: #c4a878;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-5 .wrapper {
  padding: 15px 37px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-6 .wrapper {
  padding: 150px 370px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  font-family: 'AvenirLight';
  font-size: 20px;
}

.main-nav a {
  margin: 1em 0 .5em;
  text-align: center;
  display: inline;
  display: inline-block;
  padding: .5em .5em;
}

.presentation {
  font-family: "PlayfairDisplay";
  font-size: 45px;
  color: #c4a878;
  margin: 0px;
}

.contrast {
  font-family: "PlayfairDisplay";
  font-size: 40px;
  color: #c4a878;
}

.contrast-right {
  padding: 10px 400px;
  text-align: right;
  font-family: "PlayfairDisplay";
  font-size: 40px;
  color: #c4a878;
}

.intro {
  font-family: "PlayfairDisplay";
  font-size: 60px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.intro-space {
  margin-right: 80px;
  font-family: "PlayfairDisplay";
  font-size: 60px;
  color: white;
  font-weight: bold;
  text-align: center;
}


.intro-left {
  padding: 10px 400px;
  font-family: "PlayfairDisplay";
  font-size: 60px;
  color: white;
  font-weight: bold;
  text-align: left;
}

.home-content {
  padding: 348px 70px;
  background-image: url(../Imagens/bar.jpg);
  background-size: cover;
  background-position: center;
}

.location-content {
  padding: 340px 70px;
  background-image: url(../Imagens/location.jpg);
  background-size: cover;
  background-position: center;
}

.menu-content {
  padding: 340px 70px;
  background-image: url(../Imagens/Bebidas.jpg);
  background-size: cover;
  background-position: center;
}

.footer {
  position: sticky;
  top: 100%;
  background-color: #222121;
  text-align: center;
  padding: 30px;
  margin: 0px;
  font-size: 15px;
}

.box {
  padding: 80px 60px;
  color: #c4a878;
}

.box-2 {
  padding: 80px 60px;
  border-top: #222121 10px solid;
  text-align: center;
  color: #c4a878
}

.box-3 {
  padding: 80px 60px;
  border-top: #222121 10px solid;
  color: #c4a878
}

.box-4 {
  padding: 20px 60px;
  text-align: center;
}

.box-5 {
  border-top: #222121 10px solid;
  border-bottom: #222121 10px solid;
  margin: 160px 110px;
}

.box-6 {
  border-top: #222121 10px solid;
  border-bottom: #222121 10px solid;
  font-size: 30px;
  color: #ffffff;
}

.box-7 {
  margin-left: 600px;
}


.produtos {
  font-family: 'PlayfairDisplay';
  font-size: 35px;
}

.description {
  font-size: 17px;

}